
.header {
    position: relative;
    background-image: url('headerback.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 300px; 
    display: flex; /
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: black; 
}

.overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.5); 
}

.container {
    position: relative; 
    color: black; 
}

.about .desc {
    padding: 2em;
    border-left: solid 4px teal;
    text-align: justify;
    margin-bottom: 10px;
  }

.portfolio img {
    width: 100%;
    height: 15rem;
    margin: 1rem;
}

.blog .container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.blog {
    margin-bottom: 100px;
}

.form .container {
    max-width: 600px;
    margin: 0 auto;
}

.form .form-group {
    margin-bottom: 1rem;
}